/* geral style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "moranga" "alfa slab one";
}

@font-face {
  font-family: "moranga";
  src: url("./font/Fontspring-DEMO-moranga-mediumit-iF663c8d9690107.otf")
    format("truetype");
  font-weight: 900;
}

/* variables*/
:root {
  --bkgcolor: #0d0907;
  --panelscolor: #0d0907;
  --h2color: #ffffff;
  --h2size: 2em;
  --h2font: "Bowlby one";
  --h2weight: 200;
  --fontfamily: "moranga";
  --boxshadow: 2px -1px 1px 1px #e2e9ff5b;
  --borderradius: 18px;
}

/* background style*/
body {
  background-color: var(--bkgcolor);
  font-family: var(--fontfamily);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* style of navigation part of the site*/
nav img {
  width: 4em;
  aspect-ratio: 3/3;
  object-fit: contain;
}

.NavigationIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  color: var(--h2color);
  width: 160px;
  padding: 10em 0;
  gap: 2em;

  #social,
  #versus {
    width: 5em;
  }
}

.navicon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2em;
  margin: 1em;
  gap: 1em;
  border-radius: 30px;
  background-color: #26282a;

  /*panel player style*/
  .PlayerInfos {
    text-align: center;

    h2 {
      color: var(--h2color);
      font-size: var(--h2size);
      font-family: var(--h2font);
      font-weight: var(--h2weight);
    }

    /*player infos*/
    .Profile {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      color: var(--h2color);
      background-color: var(--panelscolor);
      box-shadow: var(--boxshadow);
      border-radius: 18px;
      width: 320px;
      height: auto;
    }

    .PlayerPic {
      width: 84px;
      clip-path: circle();
      background-color: aqua;
      margin-bottom: 10px;
    }

    .Player {
      padding: 10px;
      font-size: 14px;
      height: 140px;
    }

    .Stats {
      padding: 12px 10px 10px 10px;
      font-size: 12px;
      font-style: italic;
      height: 140px;
    }

    .CT p {
      background-color: #e45757;
      border-radius: 50px;
      width: 60px;
      font-style: normal;
      padding: 4% 6% 4% 10%;
      margin: 10% 0;
      text-shadow: 1px 1px 2px #2d2d2d;
    }

    .Lvl p {
      background-color: #74c85a;
      border-radius: 50px;
      width: 90px;
      font-family: "Courier New";
      font-style: italic;
      font-size: 12px;
      box-shadow: 36px 0 #4d793f;
      padding: 4% 6% 4% 10%;
      margin: 10% 0;
      text-shadow: 1px 1px 2px #2d2d2d;
    }
  }

  /*buttons player*/
  .PlayerButtons img {
    width: 40px;
    aspect-ratio: 2/2;
    object-fit: contain;
  }

  .PlayerButtons {
    padding: 0 20px;
  }

  .buttons {
    margin: 0 24px 4px;
  }
}

/*activities style*/

.Activities {
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--panelscolor);
  box-shadow: var(--boxshadow);
  border-radius: var(--borderradius);
  width: 320px;
}
.matches img {
  width: 60px;
  margin: 0;
  aspect-ratio: 2/2;
  object-fit: contain;
  filter: drop-shadow(1px 1px 2px #2d2d2d);
}

#loss {
  background-color: #e45757;
  box-shadow: 1px -1px 0.9px 1px #fe9e9e;
}

#timer {
  width: 30px;
}

.matches p {
  text-align: start;
  font-weight: 600;
  font-size: large;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px #2d2d2d;
}

.matches {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 300px;
  margin-top: 20px;
  border-radius: var(--borderradius);
  background-color: #3cac43;
  box-shadow: 1px -1px 0.9px 1px #abffafc3;
}

.matcheinfo {
  display: flex;
  align-items: center;
  gap: 2px;
}

.infos img {
  width: 200px;
  padding: 2em 0em;
}

.Dashboard {
  color: var(--h2color);
  width: 430px;

  h2 {
    text-align: center;
    font-family: var(--h2font);
    font-weight: var(--h2weight);
    color: var(--h2color);
    font-size: var(--h2size);
  }

  h4 {
    padding: 8px;
    font-size: 2em;
    line-height: 40px;
  }

  p {
    font-size: 1em;
    padding: 0px 40px;
    margin-bottom: 0px;
    text-align: left;
  }
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--panelscolor);
  border-radius: var(--borderradius);
  height: 580px;
  box-shadow: var(--boxshadow);

  .piece {
    padding: 8px;
    font-size: 1.5em;
  }
}

.status {
  width: 430px;

  h2 {
    text-align: center;
    color: var(--h2color);
    font-size: var(--h2size);
    font-family: var(--h2font);
    font-weight: var(--h2weight);
  }
}

.playerstats {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--panelscolor);
  border-radius: var(--borderradius);
  box-shadow: var(--boxshadow);
  height: 580px;
}

.allmatchs {
  color: var(--h2color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: var(--borderradius);

  p {
    font-size: 2em;
  }

  span {
    font-size: 2em;
  }

  .game {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .results {
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-top: 10px;
  }
}

.STRATEGY {
  display: flex;
  gap: 40px;
  margin-top: 20px;

  .state {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
  }

  .strateg {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    text-align: right;
  }
}

.graphic {
  display: flex;
  gap: 2em;
  margin: 1em 0;
  color: var(--h2color);

  .img1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  }

  .img2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  }
}
